.site-header {
    background-color: midnightblue;
    color: ghostwhite;
    padding: 15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}


.site-header .header-title, .site-header .shop-name {
    text-align: center;
}


.content {
    background-color: lightgray;
    padding: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: fit-content;
    border: 2px solid #000;
    border-top-left-radius: 15px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 15px;
    
}


body {
    background-color:paleturquoise;
    margin: 0;
    padding: 0;
    background-image: url( 'record.png' );
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto;
}


.questions {
    background-color: aliceblue;
    margin: 0 auto;
    margin-top: 300px;
    max-width: fit-content;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

